.hide-cursor {
    display: none !important;
  }
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .btn {
    transition: background-color 0.2s, color 0.2s;
  }
  
  .btn:hover {
    background-color: #007bff;
    color: white;
  }
  
  .hide-cursor {
    display: none;
  }
  .button-custom {
    margin: 5px; /* Adjust this as needed */
    font-size: 1rem; /* Make sure font size is consistent */
  }
  
  .btn {
    min-width: 150px; /* Ensure buttons are the same width */
  }
   
  .replit-button:hover {
    background-color: #7b85eb !important; /* Slightly different color on hover */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    color: white !important; /* Keep text color white */
  }
  .project-button:hover {
    background-color: #333335 !important; /* Slightly different color on hover */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    color: white !important; /* Keep text color white */
  }
  .github-button:hover {
    background-color: #c6c6c8 !important; /* Slightly different color on hover */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    color: rgb(0, 0, 0) !important; /* Keep text color white */
  }